# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/*
*.iml
src/test/*
target/*

将删除 .idea/
将删除 src/test/
将删除 target/
